# ===== macOS =====
.DS_Store

# ===== Python =====
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/

# ===== Unity =====
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# ===== IDE =====
.vscode/
.idea/
unity.zip
